<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link rel="stylesheet" href="assets/css/bg.css">
    <link rel="stylesheet" href="assets/css/nav-mus.css">
    <link rel="stylesheet" href="assets/css/sliders.css">
    <title>Document</title>
</head>
<body>
    <div class="b1"></div>
    <div class="b2"></div>
    <div class="b3"></div>
    <div class="b4"></div>
    <div class="fullblur"></div>

    <main>
        <div class="navbar">
            <div class="logo-nav">
                <img src="assets/img/megamuzix-white-trans.png" alt="">
            </div>

            <div class="menu">
                <div class="input-search">
                    <input type="search" name="" id="" placeholder="SEARCH ...">
                </div>
                <div class="menu-ele">
                    <p>HOME</p>
                </div>
                <div class="menu-ele">
                    <p>EXPLORE</p>
                </div>
                <div class="menu-ele">
                    <p>LIBRARY</p>
                </div>
                <div class="menu-ele-icon">
                    <i class="fa fa-search"></i>
                </div>
            </div>

            <div class="menu-side">
                
                <img src="assets/img/avatar-music.jpg" alt="">
                <div class="user-name">
                    <p>
                    USERNAME
                    </p>
                </div>
                
                <div class="drop-down">
                    <p>Profile</p>
                    <p>Logout</p>
                </div>
            </div>
        </div>
        
        <div class="web1">
            <div class="web1-head">
                <div class="web1-ele">
                    <p>Favorite Albums</p>
                </div>
                <div class="web1-ele1">
                    <i class="fa-solid fa-chevron-left" id="move-left"></i>
                    &nbsp;&nbsp;
                    <i class="fa-solid fa-chevron-right" id="move-right"></i>
                </div>
            </div>
            <div class="web2-grid" id="move-grid">
                <div class="web2-ele">
                    <img src="assets/img/album-cover.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/album-cover-1.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/album-cover.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/album-cover-1.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/album-cover.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/album-cover-1.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/album-cover.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/album-cover-1.jpg" alt="">
                    <div class="web2-title">
                        <h3>Album Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="web1">
            <div class="web1-head">
                <div class="web1-ele">
                    <p>Favorite Artists</p>
                </div>
                <div class="web1-ele1">
                    <i class="fa-solid fa-chevron-left" id="move-left"></i>
                    &nbsp;&nbsp;
                    <i class="fa-solid fa-chevron-right" id="move-right"></i>
                </div>
            </div>
            <div class="web2-grid" id="move-grid">
                <div class="web3-ele">
                    <img src="assets/img/billie-cover.jpg" alt="">
                    <div class="web2-title">
                        <center>
                            <h3>Artist Name</h3>
                        </center>
                    </div>
                </div> 
                <div class="web3-ele">
                    <img src="assets/img/weeknd-cover.jpg" alt="">
                    <div class="web2-title">
                        <center>
                            <h3>Artist Name</h3>
                        </center>
                    </div>
                </div> 
                <div class="web3-ele">
                    <img src="assets/img/billie-cover.jpg" alt="">
                    <div class="web2-title">
                        <center>
                            <h3>Artist Name</h3>
                        </center>
                    </div>
                </div> 
                <div class="web3-ele">
                    <img src="assets/img/weeknd-cover.jpg" alt="">
                    <div class="web2-title">
                        <center>
                            <h3>Artist Name</h3>
                        </center>
                    </div>
                </div> 
                <div class="web3-ele">
                    <img src="assets/img/billie-cover.jpg" alt="">
                    <div class="web2-title">
                        <center>
                            <h3>Artist Name</h3>
                        </center>
                    </div>
                </div> 
                <div class="web3-ele">
                    <img src="assets/img/weeknd-cover.jpg" alt="">
                    <div class="web2-title">
                        <center>
                            <h3>Artist Name</h3>
                        </center>
                    </div>
                </div> 
            </div>
        </div>

        <div class="web1">
            <div class="web1-head">
                <div class="web1-ele">
                    <p>Favorite Playlists</p>
                </div>
                <div class="web1-ele1">
                    <i class="fa-solid fa-chevron-left" id="move-left"></i>
                    &nbsp;&nbsp;
                    <i class="fa-solid fa-chevron-right" id="move-right"></i>
                </div>
            </div>
            <div class="web2-grid" id="move-grid">
                <div class="web2-ele">
                    <img src="assets/img/playlist-cover.jpg" alt="">
                    <div class="web2-title">
                        <h3>Playlist Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/playlist-cover1.webp" alt="">
                    <div class="web2-title">
                        <h3>Playlist Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/playlist-cover.jpg" alt="">
                    <div class="web2-title">
                        <h3>Playlist Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/playlist-cover1.webp" alt="">
                    <div class="web2-title">
                        <h3>Playlist Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/playlist-cover.jpg" alt="">
                    <div class="web2-title">
                        <h3>Playlist Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>
                <div class="web2-ele">
                    <img src="assets/img/playlist-cover1.webp" alt="">
                    <div class="web2-title">
                        <h3>Playlist Name</h3>
                        <p>Artist Name</p>
                    </div>
                </div>  
            </div>
        </div>
    </main>
    
    <div class="desk-full">
        <img src="assets/img/music-big-cover.jpg" alt="">
    </div>

    <div class="music-player">
        <div class="music-slider">
            <input type="range" min="0" max="100" value="0" id="web-track">
        </div>
        <div class="music-left">
            <div class="music-img">
                <img src="assets/img/music-cover.jpeg" alt="">
            </div>
            <div class="music-col">
                <h3>Music Name</h3>
                <p>Artist Name</p>
            </div>
            <div class="music-like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div class="music-mid">
            <i class="fa fa-rotate"></i>
            <i class="fa fa-angles-left" id="l"></i>
            <i class="fa-solid fa-play" id="p"></i>
            <i class="fa fa-angles-right" id="r"></i>
            <i class="fa fa-shuffle"></i>
        </div>
        <div class="music-right">
            <i class="fa fa-circle-chevron-up"></i>
            <div class="vol">
                <i class="fa fa-volume-high"></i>
                <input type="range" min='0' max='100' value="100" style="overflow: hidden;margin-left:10px" class="vol-track">
            </div>
            <div class="music-time">
                <p>0:00 / 3:00</p>
            </div>
        </div>
    </div>

    <div class="final-mob">
        <div class="mob-bg" 
        style="
        background: url('assets/img/mob-cover.jpg');
        background-size: cover;
        background-position: center;">
        </div>
        <div class="mob-full">
            <div class="full-title">
                <p>Now Playing</p>
                <i class="fa fa-chevron-down"></i>
            </div>
    
            <div class="mob-cover">
                <img src="assets/img/mob-cover.jpg" alt="">
            </div>

            <div class="mob-bot-down">
                <div class="full-music-mid">
                    <div class="mob-music-name">
                        <h3>Music Name</h3>
                        <p>Artist Name</p>
                    </div>
                    <div class="music-like" style="margin: 0;padding: 0;text-align: right;">
                        <i class="fa fa-heart"></i>
                    </div>
                    
                </div>
        
                <div class="full-track">
                    <input type="range" name="" id="mob-full-track">
                    <p id="mob-ll">1:20</p>
                    <p id="mob-rr" style="text-align: right;">3:00</p>
                </div>
        
                <div class="mob-music-mid">
                    <i class="fa fa-rotate"></i>
                    <i class="fa fa-angles-left" id="mob-l"></i>
                    <i class="fa-solid fa-play" id="mob-p"></i>
                    <i class="fa fa-angles-right" id="mob-r"></i>
                    <i class="fa fa-shuffle"></i>
                </div>
            </div>
            
        </div>
    </div>
    

    <div class="music-mob">
        <div class="mob-ele">
            <i class="fa-solid fa-house"></i>
            <p>HOME</p>
        </div>
        <div class="mob-ele">
            <i class="fa fa-search"></i>
            <p>SEARCH</p>
        </div>
        <div class="mob-ele" id="mob-play">
            <img src="assets/img/music-wave.gif" alt="" id="pause-gif">
            <i class="fa-solid fa-play" id="mob-play-i"></i>
        </div>
        <div class="mob-ele">
            <i class="fa-solid fa-compass"></i>
            <p>EXPLORE</p>
        </div>
        <div class="mob-ele">
            <i class="fa-solid fa-book"></i>
            <p>LIBRARY</p>
        </div>
    </div>

    <audio controls id="real-controller">
        <source src="assets/music/sample-muisc.mp3" type="audio/mp3">
    </audio>
    
    <script src="assets/js/scroll.js"></script>
    <script src="assets/js/full-screen.js"></script>
    <script src="assets/js/search.js"></script>
    <script src="assets/js/like.js"></script>
    <script src="assets/js/music-controller.js"></script>
</body>
</html>