{% extends 'headfoot.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static 'assets/css/search.css' %}">
        <div class="cool-1">
            <div class="cool-search">
                <div class="cool-ele1">
                    <!-- <div class="cool-img">
                        <img src="assets/img/billie-cool.jpg" alt="" srcset="">
                    </div>
                    <div class="cool-info">
                        <h2>Artist Name</h2>
                        <p>Rank 12</p>
                        <p>Artist</p>
                    </div>
                    <div class="cool-play">
                        <i class="fa fa-circle-play"></i>
                    </div> -->
                </div>
            <div class="cool-ele2">
                <!-- <div class="cool-card">
                    <img src="assets/img/idwk-cover.jpeg" alt="">
                    <div class="cool-title">
                        <h3>Music Name</h3>
                        <p>Artist Name</p>
                    </div>
                    <div class="cool-time">
                        <p>2:47</p>
                    </div>
                </div> -->
                
            </div>
            </div>
            <br>
            <h2>Songs</h2>
            <div class="song-list">
                <!-- <div class="song-list-ele">
                    <img src="assets/img/better-cover.png" alt="">
                    <div class="cool-title">
                        <h3>Music Name</h3>
                        <p>Artist Name</p>
                    </div>
                    <div class="song-subtitle">
                        <h3>Album Name</h3>
                    </div>
                    <div class="cool-time">
                        <p>2:47</p>
                    </div>
                </div> -->
                
            </div>
        </div>        
{% endblock %}

